.messageContainer {
  display: flex;
  margin-bottom: 12px;
 
}

.messageSystem {
  justify-content: center;
}

.messageOwn {
  justify-content: flex-end;
}

.messageOther {
  justify-content: flex-start;
}

.messageBox {
  padding: 10px 14px;
  border-radius: 16px;
  font-size: 14px;
  word-wrap: break-word;
  max-width: 300px;
  background-color: #222; /* Dark gray */
  color: white;
  display: inline-block;
  position: relative;
  border-bottom-left-radius: 4px; /* Less rounded on bottom-left */
}

.messageOwnBox {
  background-color: #1d9bf0; 
  color: white;

}

.messageSystemBox {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  font-size: 12px;
}


.messageOtherBox {
  background-color: white;
  color: black;
}

.sender {
  font-size: 14px;
  font-weight: bold;
}

.message {
  font-size: 14px;
}
