
.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: fit-content;
  height: 100vh; 
  overflow: hidden; 
  position: fixed; 
  top: 0;
  left: 80px;
}
.logo {
  font-weight: 900;
  width: fit-content;
  border: none;
  background-color: #000;
  border-radius: 30px;
}

.logo:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  text-align: left;
  width: fit-content;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 6px;
}
.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.postBtn {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  transition: 0.3s;
  margin-top: 25px;
}
.postBtn .postIcon {
  display: none;
}
.postBtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.user{
  display: flex;
  border-radius: 30px;
  font-size: 7px;
  font-weight: 200;
  padding: 8px 10px;
  text-align: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  color: #fff;
  background-color: #000;
  border: none;
}
.user:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.user img{
  border-radius: 50%;
}
.username{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.username h3{
  font-size: 12px;
  color: gray;
}
.modalOverlay{
  position: fixed;
  bottom:100px;
  left:100px;
  width: 250px;
  background-color: rgba(0,0,0,0.5);
}
.modal{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #000;
  box-shadow: 0 4px 10px rgba(255,255,255,0.3);
  border-radius: 10px;
}
.modal button{
  padding: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  width: 100%;
}
.modal button:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

@media screen and (max-width: 1001px) {
  .menuItem span {
    display: none;
  }
  .postBtn p {
    display: none;
  }
  .postBtn .postIcon {
    display: block;
  }
  .username, .icon{
    display: none;
}
.menuItem{
  padding: 12px 15px;
}
.navbar{
  left: 40px;
}
}
