:root {
  --foreground: #ffffff;
  --background: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.container{
  display: flex;
  background-color: black;
  color: white;
}
.leftcontainer{
  margin-left: 70px;
  margin-right: 250px;
}
.middlecontainer{
  width: 600px;
}
.rightcontainer{
  width: 100px;
  margin-right: 90px;
  margin-left: 30px;
}

@media screen and (max-width: 1001px){
  .icon{
      display: none;
  }
  .container{
      gap: 0px;
  }
  .middlecontainer{
      margin-left: 70px;
  }
  .leftcontainer{
    margin-right: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
