.container {
  display: flex;
  gap: 20px;
}
.followingList ul {
  list-style: none;
}
.followingList img {
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

.followingList span{
    margin-top: 10px;
}

.nameAndImage{
    display: flex;
    align-items: center;
    gap: 10px;
}
