.header{
    display: flex;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.438);
    width: 300px;
    padding: 3px 15px;
    border-radius: 30px;
    margin-bottom: 15px;
}
.header input{
    color: #fff;
    border: none;
    outline: none;
}
.header .icon{
    padding-top: 10px;
}
.header input{
    background-color: black;
    border: none;
    padding: 10px;
    font-size: 15px;
}
.subscribe{
    border: 1px solid rgba(255, 255, 255, 0.438);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.subscribe button:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(25, 85, 250, 0.7);
}
.subscribe p{
    margin-top: 10px;
    font-size: small;
}
.subscribe button{
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 30px;
    background-color: rgb(25, 85, 250);
}
.trendingContainer{
    display: flex;
    gap: 30px;
    margin: 8px 0;
    
}
.trendingSuggestion{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    padding: 10px 0;
}
.trendingSuggestion .topic{
    font-size: 15px;
    font-weight: 600;
}
.trendingSuggestion .category, .trendingSuggestion .posts{
    font-size: small;
    color: rgba(255, 255, 255, 0.438);
}
.trendingSuggestion .category, .trendingSuggestion .posts, .trendingSuggestion .topic{
    margin-bottom: 5px;
}
.trendingContainer:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
.trendingSection, .whoToFollow{
    border: 1px solid rgba(255, 255, 255, 0.438);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.trendingIcon{
    margin-top: 10px;
}

.showMore{
    border: none;
    background: none;
    color: rgb(25, 85, 250, 0.7);
    transition: 0.3s;
}
.showMore:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.followSuggestion{
    display: flex;
    flex-direction: column;
}
.followContainer{
    display: flex;
    gap: 30px;
    margin: 18px 0;
    padding: 10px 0;
}
.followContainer:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
.followContainer .name{
    font-weight: 600;
}
.followContainer .handle{
    color: rgba(255, 255, 255, 0.438);
}
.followContainer .followButton{
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
}
.followContainer .followButton:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}
.footer{
    color:rgba(255, 255, 255, 0.438);
    width: 58%;
}
.footer a, .footer span{
    padding-right: 8px;
    font-size: 12px;
}
.footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width: 1001px) {
    .container {
      display: none;
    }
}