.container {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.mainContainer {
  display: flex;
  gap: 10px;
}

.container input {
  all: unset;
  flex: 1;
  min-height: 40px;
  min-width: 520px;
  margin: 10px;
  margin-top: 12px;
  margin-left: 2px;
  font-size: 25px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
}



.container.active .paragraph {
  display: flex;
  gap: 10px;
  margin-left: 3px;
  margin-bottom: 18px;
  color: rgb(25, 85, 250);
  font-size: small;
}
.postbottom{
  display: flex;
  gap: 230px;

}

@media screen and (max-width: 1001px) {

}
