body{
    margin: 0 70px;
}
.container{
    display: flex;
    justify-content: space-around;
   
}
.leftcontainer{
    margin-left: 70px;
}
.middlecontainer{
    width: 600px;
}
.rightcontainer{
    width: 100px;
    margin-right: 70px;
}

@media screen and (max-width: 1001px){
    .icon{
        display: none;
    }
    .container{
        gap: 0px;
    }
    .middlecontainer{
        margin-left: 70px;
    }
}