
.container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}
.leftcontainer{
    margin-left: 70px;
}
.middlecontainer{
    width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.rightcontainer{
    width: 100px;
    margin-right: 70px;
}

@media screen and (max-width: 1001px){
    .icon{
        display: none;
    }
    .container{
        gap: 0px;
    }
    .middlecontainer{
        margin-left: 70px;
    }
}