body{
    margin: 0 70px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 130px;
}
.middlecontainer{
    margin-left: 100px;
    
}
@media screen and (max-width: 1001px){
    .icon{
        display: none;
    }
    .container{
        gap: 0px;
    }
    .middlecontainer{
        margin-left: 70px;
    }
}