.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalContent {
  background-color: #000000;
  color: white;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  padding-top: 5px;
}
.modalContent form {
  margin: 50px;
  margin-top: 30px;
}
.modalHeader h2 {
  font-size: 30px;
  margin-left: 50px;
}
.headerIcon {
  display: flex;
  margin-bottom: 20px;
}
.headerLogo {
  margin-left: 38%;
}
.closeButton {
  background: none;
  padding: 5px 10px;
  border-radius: 50%;
}

.closeButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
.formGroup {
  margin-bottom: 20px;
}
.formGroup label {
  font-weight: 600;
}
.formGroup input,
.formGroup select {
  color: #fff;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 8px;
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.438);
}

.formGroup select {
  margin-bottom: 90px;
}
.formGroup input:focus,
.formGroup select:focus {
  outline: none;
  border: 2px solid blue;
}

.formGroup input::placeholder {
  position: absolute;
  transition: all 0.2s ease;
}
.formGroup input:focus::placeholder {
  top: 10px;
  font-size: 10px;
  color: blue;
}
.selectWrapper label {
  top: 18px;
  position: relative;
  left: 16px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease;
}

.selectWrapper select:focus ~ label,
.selectWrapper select:not(:placeholder-shown) ~ label {
  color: blue;
}

.selectWrapper select:focus {
  border: 2px solid blue;
}

.dob {
  display: flex;
  gap: 10px;
}
.dobMessage {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.438);
}
.registerSubmit {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.success {
  color: blue;
  margin-top: 5px;
  font-size: 15px;
  margin-left: 50px;
  padding-bottom: 30px;
}

.agreement {
  font-size: small;
  color: rgba(255, 255, 255, 0.438);
  margin-top: 110px;
  margin-bottom: 20px;
}
.agreement span {
  color: rgb(25, 85, 250);
}

.passwordMessage {
  font-size: small;
  color: rgba(255, 255, 255, 0.438);
  margin-top: -20px;
  margin-bottom: 30px;
}
.closeButton button {
  border-style: none;
  background-color: transparent;
  color: white;
  font-size: 30px;
}
